body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: #f3f3f3;
  text-align: center;
}

header {
  background-color: #107c10;
  padding: 20px 0;
  color: #fff;
  font-size: 1.8em;
}

main {
  padding: 20px;
}

main img {
  max-width: 100%;
  height: auto;
  border: 5px solid #107c10;
  border-radius: 10px;
  margin-bottom: 20px;
}

main p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

main a {
  display: inline-block;
  background-color: #fff;
  color: #107c10;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main a:hover {
  background-color: #107c10;
  color: #fff;
}